/*Blocks*/
.block-move .block-control .block-event .label .block-time {
    color: #071021
}

.block-move,
.block-measure,
.block-control,
.block-event,
.block-variable,
.block-pos,
.block-calc,
.block-debug,
.block-time {
    position: relative;
    display: inline-block;
    user-select: none;
    font-weight: 600;
    border-radius: 16px;
    padding: 10px 12px 14px 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    transition: transform .06s ease;
    cursor: grab;
    max-width: max-content;
    text-align: center;
    margin: 1px;
}

.block-move {
    background-color: rgb(25, 146, 226);
}

.block-measure {
    background-color: rgb(248, 99, 0);
}

.block-control {
    background-color: rgb(180, 138, 30);
}

.block-event {
    background-color: rgb(209, 87, 87);
}

.block-variable {
    background-color: rgb(126, 209, 87);
}

.block-pos {
    background-color: rgb(88, 92, 53);
}

.block-calc {
    background-color: rgb(7, 126, 57);
}

.block-time {
    background-color: rgb(209, 87, 209);
}

.block-debug {
    background-color: rgb(87, 115, 209);
}

.children {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}