<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laborobot</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>

<body>
    <div class="app">
        <header>
            <h1>
                Laborobot – <span style="opacity:.7">configure your robot</span>
            </h1>
            <div class="hint">
                Drag blocks from the palette on the right into slots or under each other.
            </div>
        </header>

        <section class="group palette" id="palette">
            <div class="group-title">
                Movement
            </div>
            <div class="block-move" id="block-steps-x" draggable="true" data-palette="true">
                <span class="label"> Go <span class="slot" data-accept="variable number"></span> steps on the X
                    axis</span>
            </div>

            <div class="block-move" id="block-steps-y" draggable="true" data-palette="true">
                <span class="label"> Go <span class="slot" data-accept="variable number"></span> steps on the Y
                    axis</span>
            </div>

            <div class="block-move" id="block-steps-z" draggable="true" data-palette="true">
                <span class="label"> Go <span class="slot" data-accept="variable number"></span> steps on the Z
                    axis</span>
            </div>
            <div class="block-move" id="block-reset-pos" draggable="true" data-palette="true">
                <span class="label"> Reset position</span>
            </div>

            <div class="group-title">
                Control
            </div>
            <div class="block-controll" id="block-repeat" draggable="true" data-palette="true">
                <span class="label"> repeat <span class="slot" data-accept="variable number"></span> times</span>
                <div class="children"></div>
            </div>
            <div class="block-controll" id="block-condition" draggable="true" data-palette="true">
                <span class="label"> if <span class="slot" data-accept="variable number"></span> <span class="param"
                        contenteditable>==</span>
                    <span class="slot" data-accept="variable number"></span>
                </span>
                <div class="children"></div>
            </div>


            <div class="group-title">
                Events
            </div>
            <div class="block-event" id="block-break" draggable="true" data-palette="true">
                <span class="label"> Break</span>
            </div>

            <div class="group-title">
                Constants
            </div>
            <div id="variable-container">
                <div class="inline-container">
                    <div class="block-variable" id="block-get-x-pos" draggable="true" data-palette="true">
                        <span class="label">X</span>
                    </div>
                    <p>= position on x-axis</p>
                </div>
                <div class="inline-container">
                    <div class="block-variable" id="block-get-y-pos" draggable="true" data-palette="true">
                        <span class="label">Y</span>
                    </div>
                    <p>= position on y-axis</p>
                </div>
                <div class="inline-container">
                    <div class="block-variable" id="block-get-z-pos" draggable="true" data-palette="true">
                        <span class="label">Z</span>
                    </div>
                    <p>= position on z-axis</p>
                </div>
                <div class="group-title">
                    Variables
                </div>

                <!-- this is what a created variable would look like
                <div class="inline-container" id="inline-container-v1">
                    <div class="block-variable" id="block-get-v1-pos" draggable="true" data-palette="true">
                        <span class="label">v1</span>
                    </div>
                    <p>=</p>
                    <span class="param"contenteditable>50</span>
                    <button class = "remove-variable" onclick="removeVariable('inline-container-v1')">Remove</button>
                </div>-->
            </div>
            <button id="add-variable" onclick="addVariable()">+</button>

            <div class="group-title">
                Time
            </div>
            <div class="block-time" id="block-time-seconds" draggable="true" data-palette="true">
                <span class="label"> Wait <span class="slot" data-accept="variable number"></span> seconds</span>
            </div>
            <div class="block-time" id="block-time-minutes" draggable="true" data-palette="true">
                <span class="label"> Wait <span class="slot" data-accept="variable number"></span> minutes</span>
            </div>


            <div class="group-title">
                Debug
            </div>
            <div class="block-debug" id="block-debug-print" draggable="true" data-palette="true">
                <span class="label">print in console <span class="slot" data-accept="variable number"></span></span>
            </div>
        </section>

        <section class="panel workspace" id="workspace">
            <div class="workspace-inner" id="workspaceInner"></div>
            <button id="delete">🗑️ Delete everything</button>
            <button id="run" onclick="run()">▶︎ Run</button>
            <div id="garbage">🗑️ Garbage (Place block here to delete)</div>
        </section>

    </div>

    <section>
        <div class="coords" id="coords">nice</div>
    </section>

    <section>
        <div class="console" id="console"></div>
    </section>


    <script src="static/add_variables.js"></script>
    <script src="static/console.js"></script>
    <script src="static/drag_and_drop.js"></script>
    <script src="static/run.js"></script>
    <script src="static/socket.js"></script>
    <script src="static/slot.js"></script>

</body>

</html>