<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laborobot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/block_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/button_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/console_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/info_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/manual_control_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/slot_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tooltip_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/workspace_style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>

<body>
    <div class="app">
        <header>
            <h1 data-tooltip="only God and I know what we've done here">
                Laborobot – <span style="opacity:.7">configure your robot</span>
            </h1>
            <div class="hint">
                Drag blocks from the palette on the right into slots or under each other.
            </div>
            <button id="info-button">Info</button>

        </header>

        <div id="info-modal" class="hidden">
            <div class="info-modal-content">
                <button id="close-info">&times;</button>

                <div class="info-tabs">
                    <button class="tab-btn active" data-page="general">General</button>
                    <button class="tab-btn" data-page="blocks">Blocks</button>
                    <button class="tab-btn" data-page="programming">Programming</button>
                </div>

                <div id="info-content" class="info-body"></div>
            </div>
        </div>


        <section class="group palette" id="palette">
            <div class="group-title" data-tooltip="move the robot">
                Movement
            </div>
            <div class="block-move" id="block-steps" draggable="true" data-palette="true">
                <span class="label"> Go <span class="slot" data-accept="variable number"></span> steps on the
                    <select class="param select-box">
                        {%for axis in axles%}
                        <option value={{axis}}> {{axis}} </option>
                        {% endfor %}
                    </select>
                    axis</span>
            </div>

            <div class="block-move" id="block-go-to-pos" draggable="true" data-palette="true">
                <span class="label"> Goto position: <span class="slot" data-accept="pos"></span></span>
            </div>
            <div class="block-move" id="block-reset-pos" draggable="true" data-palette="true">
                <span class="label"> Reset position</span>
            </div>

            <div class="group-title" data-tooltip="collect the measurement data">
                Measurment
            </div>
            <div class="block-measure" id="block-measurement" draggable="true" data-palette="true">
                <span class="label">Measure</span>
            </div>


            <div class="group-title" data-tooltip="classic control structures">
                Control
            </div>
            <div class="block-controll" id="block-repeat" draggable="true" data-palette="true">
                <span class="label"> repeat <span class="slot" data-accept="variable number"></span> times</span>
                <div class="children"></div>
            </div>
            <div class="block-controll" id="block-condition" draggable="true" data-palette="true">
                <span class="label"> if <span class="slot" data-accept="variable number"></span>
                    <select class="param select-box">
                        {% for if_operator in if_operators %}
                        <option value={{if_operator}}> {{if_operator}} </option>
                        {% endfor %}
                    </select>
                    <span class="slot" data-accept="variable number"></span>
                </span>
                <div class="children"></div>
            </div>


            <div class="group-title" data-tooltip="events in the code">
                Events
            </div>
            <div class="block-event" id="block-break" draggable="true" data-palette="true">
                <span class="label"> Break</span>
            </div>

            <div class="group-title" data-tooltip="non-changeable variables">
                Constants
            </div>
            <div id="variable-container">
                {% for axis in axles %}
                <div class="inline-container">
                    <div class="block-variable" id="block-get-{{axis}}-pos" draggable="true" data-palette="true">
                        <span class="label">{{axis.upper()}}</span>
                    </div>
                    <p>= position on {{axis}}-axis</p>
                </div>
                {% endfor %}

                <div class="group-title" data-tooltip="changeable variables">
                    Variables
                </div>

                <!-- this is what a created variable would look like
                            <div class="inline-container" id="inline-container-v1">
                                <div class="block-variable" id="block-get-v1-pos" draggable="true" data-palette="true">
                                    <span class="label">v1</span>
                                </div>
                                <p>=</p>
                                <span class="param"contenteditable>50</span>
                                <button class = "remove-variable" onclick="removeVariable('inline-container-v1')">Remove</button>
                            </div>-->
            </div>
            <button id="add-variable" onclick="addVariable()" data-tooltip="add variable">+</button>

            <div class="group-title" data-tooltip="collection of x,y and z">
                Positions
            </div>

            <div id="position-container">
            </div>

            <button id="add-pos" onclick="addPos()" data-tooltip="add position">+</button>

            <div class="group-title">
                Calculations
            </div>
            <div class="block-calc" id="block-calculations" draggable="true" data-palette="true"
                data-tooltip="calculate with the variables">
                <span class="label">
                    <span class="slot" data-accept="variable"></span> =
                    <span class="slot" data-accept="variable number"></span>
                    <select class="param select-box">
                        {% for calc_operator in calc_operators%}
                        <option value={{calc_operator.value}}>{{calc_operator.text}}</option>
                        {% endfor %}
                    </select>
                    <span class="slot" data-accept="variable number"></span>
                </span>
            </div>

            <div class="group-title" data-tooltip="stops the execution">
                Time
            </div>
            <div class="block-time" id="block-time-seconds" draggable="true" data-palette="true">
                <span class="label"> Wait <span class="slot" data-accept="variable number"></span> seconds</span>
            </div>
            <div class="block-time" id="block-time-minutes" draggable="true" data-palette="true">
                <span class="label"> Wait <span class="slot" data-accept="variable number"></span> minutes</span>
            </div>


            <div class="group-title" data-tooltip="outputs information to the console">
                Debug
            </div>
            <div class="block-debug" id="block-debug-print" draggable="true" data-palette="true">
                <span class="label">print in console <span class="slot" data-accept="variable number pos"></span></span>
            </div>
        </section>

        <section class="panel workspace" id="workspace">
            <div class="workspace-inner" id="workspaceInner"></div>
            <button id="delete" data-tooltip="delete all code blocks">🗑️ Delete everything</button>
            <button id="run" onclick="run()" data-tooltip="runs all of the code">▶︎ Run</button>
            <div id="garbage">🗑️ Garbage (Place block here to delete)</div>
        </section>

    </div>

    <section class="manual-controls">
        {% for axis in axles%}
        <div class="axis-control">
            <span class="axis-label" id="{{axis}}-axis-label">{{axis.upper()}}-axis:</span>
            <button class="axis-btn" id="{{axis}}-up">▲ up</button>
            <button class="axis-btn" id="{{axis}}-down">▼ down</button>
        </div>
        {% endfor %}

        <div class="axis-control">
            <button class="axis-btn" id="reset-manuel">reset</button>
        </div>
        <div class="clipboard-control">
            <div class="clipboard-fields">
                {% for i in range(1, clipboards +1) %}
                <div class="clipboard-unit">
                    <span class="clipboard-label">Pos {{i}}</span>
                    <div class="clipboard-values">
                        {% for axis in axles%}
                        <input class="clipboard-input" id="pos{{i}}-{{axis}}" placeholder={{axis.upper()}} readonly>
                        {% endfor %}
                    </div>
                    <div class="clipboard-buttons">
                        <button class="axis-btn copy-btn" data-pos={{i}}>Copy</button>
                        <button class="axis-btn set-btn" data-pos={{i}}>Set</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>

    <section>
        <div class="console" id="console"></div>
    </section>

    <script src="{{ url_for('static', filename='scripts/add_variables.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/console.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/drag_and_drop.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/run.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/socket.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/slot.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/manual_control.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/info.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/clipboard.js') }}"></script>

</body>

</html>